body > div {
  width: 700px;
  margin: auto;
}

.clock {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

input {
  width: 500px;
  height: 50px;
  margin: 50px auto;
  display: block;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.finished > li > span {
  text-decoration: line-through;
}

li > * {
  margin: 2px;
}

span {
  font-size: 25px;
  vertical-align: middle;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid black;
  background-color: transparent;
}
